*/*.pyc
*.pyc
**/__pycache__

lib/temp
source/*
!source/example.lua
templates
!templates/default
zip/*
de_in/custom/*
de_out/custom/*
re_in/*
!re_in/example.scl
re_out/*
!re_out/example.scl
.ignore
.manifest
.luac.in
.luac.out
**/*.in
**/*.out
**/.manifest
