*.pyc

lib/temp/*
!lib/temp/.gitkeep
lib/chunk_cache/*
!lib/chunk_cache/.gitkeep
log.txt

source/*
!source/example.lua
,fr/*
,stuff/*
res.txt
Swordigo.lua
.luarc.jsonc
templates
!templates/default

projects/*
!projects/default.frproject
!projects/.gitkeep

de_in/user/*
de_out/user/*
re_in/*
re_out/*

.ignore
.filerift_force_local_config
lib/manifest
